# editor backup and lock files
*~
.\#*
\#*\#

# compiler output
*.o
*.lo
*.la
*.a
*.so

# compiled test-cases
bin/

# configure artifacts
Makefile
config.h
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
DartConfiguration.tcl
Testing/
cmake_install.cmake
dune-hello-config-version.cmake
dune-hello-config.cmake
dune-hello.pc
dune-hello-install.cmake
dune-hello-install.pc

# dunedoxynize artifacts
doc/doxygen/Doxyfile.in
doc/doxygen/Doxyfile
doc/doxygen/doxygen-tag

# doxygen artifacts
doc/doxygen/doxygen.log
doc/doxygen/doxyerr.log
doc/doxygen/html/
